/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fraunces-v38-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GLOBAL STYLES START */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}
/* GLOBAL STYLES END */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0px;

  background-color: #f2eae2;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #ffffff;

  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.card-image {
}
.card-content {
  padding: 32px;
}
.card-subtitle {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 5px;

  color: #6c7289;
  margin-bottom: 20px;
}
.card-title {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;

  max-width: 236px;
  margin-bottom: 24px;
}
.card-desc {
  color: #6c7289;
  max-width: 237px;
}
.price {
}
.dicount-price {
}
.old-price {
}
.card-btn {
  margin-top: 30px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  width: 100%;

  border: none;
  border-radius: 8px;

  color: #fff;
}
